.collapse {
  .collapse-content {
    overflow: visible;
    display: grid;
    grid-gap: 10px;
    .btn {
      background: $secondary;
      color: black;
      text-align: left;
      font-weight: normal;
      height: unset;
      span {
        font-size: 1.1rem;
      }
      transform: none !important;
    }
  }
}