:root {
  --text-color: #fafafa;
  --font-family: "Montserrat", sans-serif !important;
  --primary-color: $primary !important;
  --border-radius: 8px;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif;
}
main {
  min-height: 100vh;
}
html {
  overflow-y: auto !important;
  font-size: 14px !important;
}
[class^="iconly-"],
[class*="iconly-"] {
  font-size: 1rem;
}

header {
  &.v-sheet.v-app-bar {
    background: transparent !important;
  }
}

.img-contain {
  object-fit: contain;
}

.my-page-enter-active,
.my-page-leave-active {
  transition: opacity 0.3s;
}
.my-page-enter,
.my-page-leave-to {
  opacity: 0;
}

.p-input-filled {
  .p-inputtext {
    background: #eeeeee;
  }
}
.p-inputtext, textarea {
  background: transparent !important;
  //border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  &:focus {
    background: transparent !important;
  }

}

label {
  margin-bottom: 10px;
}

.cf.cf-btc {
  color: #f2a900;
}
.cf {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  border-radius: 50%;
}
.cf.cf-eth {
  color: #323232;
  background: #EDEFF1;
  padding: 3px;
  font-size: calc(1.5rem - 6px);
}
.cf.cf-trx {
  color: #fafafa;
  background: #EB0029;
  padding: 3px;
  font-size: calc(1.5rem - 6px);
}
.cf.cf-doge {
  color: #fafafa;
  background: #C2A633;
  padding: 3px;
  font-size: calc(1.5rem - 6px);
}
.cf.cf-matic {
  color: #fafafa;
  background: #7950DD;
  padding: 3px;
  font-size: calc(1.5rem - 6px);
}
.cf.cf-yfi {
  color: #0657F9;
}
.cf.cf-usdt {
  color: #22A079;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  animation: spin .5s infinite linear;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 2px solid var(--fk-color-primary);
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-right: .5em;
}
.done {
  width: .5em;
  height: 1em;
  border: 3px solid limegreen;
  border-top-width: 0;
  border-left-width: 0;
  margin-right: .75em;
  margin-bottom: .2em;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
}
body {
  .formkit-wrapper, .formkit-fieldset {
    max-width: 100%;
    position: relative;
  }
  .formkit-inner {
    width: 100%;
  }

  .custom--prime {
    .formkit-inner {
      & > div {
        width: 100%;
      }
    }
  }

  .formkit-outer {
    padding-bottom: 0;
    width: unset;
  }

  .label {
    margin-bottom: 10px;
    display: flex;
    font-size: 1.125rem;
    font-weight: 500;
  }
  .p-button:focus {
    box-shadow: none;
  }
  .p-dialog {
    .p-dialog-content{
      padding-top: 10px;
    }
    &.danger {
      .p-dialog-header {
        background: rgba(229, 25, 25, 0.42);
        color: #fafafa;
        backdrop-filter: blur(25px);
        .p-dialog-header-icon {
          background: #fafafa;
        }
      }
    }
  }
}
