:root {
  --text-color: #fafafa;
  --font-family: "Montserrat", sans-serif !important;
  --primary-color: $primary !important;
  --border-radius: 8px;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif;
}
main {
  min-height: 100vh;
}
html {
  overflow-y: auto !important;
  font-size: 14px !important;
}
[class^="iconly-"],
[class*="iconly-"] {
  font-size: 1rem;
}

header {
  &.v-sheet.v-app-bar {
    background: transparent !important;
  }
}

.img-contain {
  object-fit: contain;
}

.my-page-enter-active,
.my-page-leave-active {
  transition: opacity 0.3s;
}
.my-page-enter,
.my-page-leave-to {
  opacity: 0;
}

.p-input-filled {
  .p-inputtext {
    background: #eeeeee;
  }
}
.p-inputtext, textarea {
  background: #eeeeee !important;
  //border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  &:focus {
    background: transparent !important;
  }

}

label {
  margin-bottom: 10px;
}