@import "partials/base";
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.view-enter-active,
.view-leave-active {
  transition: all 0.4s;
}
.view-enter-from,
.view-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

tr {
  position: relative;
}

.basic {
  .p-dropdown {
    .p-dropdown-label {
      background: transparent;
    }
  }
}

.back-link {
  i {
    font-size: 1.6rem;
  }
}


.account--auth-app {
  display: flex;
  justify-content: center;
}