@use "partials/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.main {
  display: flex;
  .sidebar {
    min-width: 250px;
    background: variables.$secondary;
    height: 100vh;
    padding-top: 20px;
    .el-menu-item {
      position: relative;
      color: #3063E9;
      overflow: hidden;
      padding-left: 30px !important;
      & > * {
        position: relative;
      }
      span {
        font-weight: 400;
      }
      &:not(.non-default):before {
        transition: 0.3s ease-in-out;
        content: '';
        background: variables.$primary;
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 20px);
        transform: translateX(100%);
        height: 100%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:not(.non-default).is-active, &:not(.non-default):hover {
        color: #fafafa;
        background: transparent;
        &:before {
          transform: none;
        }
      }
    }
    .header-sidebar {
      padding: 20px;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 1rem;
      font-weight: normal;
    }
    .line-less {
      & > *{
        line-height: 1.2;
        &:last-child {
          display: flex;
          align-items: center;
          i {
            width: unset !important;
          }
        }
      }
    }
    .sidebar--grid {
      height: calc(100vh - 140px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .page-content {
    width: calc(100% - 250px);
    padding: 20px;
    .header--title {
      font-size: 1.6rem;
      font-weight: bold;
      margin-top: 50px;
    }
    .stack--container {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #4b48dc 0%, #d048dc 100%);
        border-radius: 15px;
        transform: scale(0.95) translateY(8px);
      }
      .main--stack {
        position: relative;
        background: #e8e8f3;
        padding: 20px;
        width: 100%;
        border-radius: 15px;
        margin-top: 15px;
        .rates-text {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }
  }
  .el-button {
    border-radius: 8px;
    span {
      font-weight: 400 !important;
    }
  }
}